.jtpqg { 
  margin-bottom: 35px;
  font-size: 6px;
  font-size: 78px;
  margin-bottom: 76px;
  margin-right: 36px;
  padding-bottom: 23px;
  padding-right: 12px;
  margin-left: 64px;
  padding-top: 12px;
  padding-right: 93px;
  margin-top: 87px;
  line-height: 59px;
  border-bottom-width: 3px;
}
