.jtpqg { 
  margin-bottom: 35px;
  font-size: 6px;
  font-size: 78px;
  margin-bottom: 76px;
  margin-right: 36px;
  padding-bottom: 23px;
  padding-top: 39px;
  margin-top: 86px;
  line-height: 72px;
  margin-bottom: 32px;
}
