.jtpqg { 
  margin-bottom: 35px;
  font-size: 6px;
  font-size: 78px;
  margin-bottom: 76px;
  margin-right: 36px;
  padding-bottom: 23px;
  padding-top: 39px;
  border-left-width: 31px;
  padding-right: 95px;
}
